<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <title>Masters PC</title>
    <link rel="stylesheet" href="../estilos/estilos.css">

</head>

<body>
    <div class="contenedor">
        <header>
            <!--En vez de colocar un botón inicio, utilizo el logo de la tienda para volver a la página principal-->
            <a href="../index.html"><img id="foto" alt="logo_masters_pc" src="../assets/image/Logonuevo.png" width="500" height="500"></a>
            <nav>
                <!--Aquí coloco los enlaces al resto de páginas-->
                <a href="../views/productos.html" class="nav-enlace">Galería</a>
                <a href="../views/presupuesto.html" class="nav-enlace">Presupuesto</a>
                <a href="../views/contacto.html" class="nav-enlace">Contacto</a>

            </nav>
        </header>
        <main>
        <div class="article">
            AVISO LEGAL<br><br>

            1. Información general<br>

            Este sitio web es propiedad de PC Masters, con domicilio en [Dirección de PC Masters en Toledo] y número de
            identificación fiscal [NIF/CIF de PC Masters]. Puede ponerse en contacto con nosotros a través de [Correo
            electrónico de contacto de PC Masters].
            <br><br>
            2. Propiedad intelectual y derechos de autor
            <br>
            Los contenidos de este sitio web, incluyendo pero no limitándose a textos, imágenes, logotipos, gráficos,
            iconos, diseños y software, están protegidos por las leyes de propiedad intelectual y derechos de autor.
            Queda estrictamente prohibida la reproducción, distribución, modificación o cualquier otro uso no autorizado
            de dichos contenidos sin el consentimiento expreso por escrito de PC Masters.
            <br><br>
            3. Uso del sitio web
            <br>
            El uso de este sitio web se rige por las siguientes condiciones:
            <br>
            El usuario se compromete a utilizar el sitio web de manera lícita y de acuerdo con estos términos y
            condiciones.
            No está permitido utilizar el sitio web para fines ilegales o que puedan causar daño a PC Masters o a
            terceros.
            PC Masters no se hace responsable de la información o contenidos de sitios web enlazados desde este sitio.
            El sitio web puede utilizar cookies para mejorar la experiencia del usuario; consulte nuestra política de
            cookies para obtener más información.
            <br><br>
            4. Exclusión de responsabilidad
            <br>
            Este sitio web se proporciona "tal cual" y PC Masters no garantiza su disponibilidad o su correcto
            funcionamiento. PC Masters no se hace responsable de los daños que puedan derivarse del uso de este sitio
            web o de la imposibilidad de acceder a él.
            <br><br>
            5. Política de privacidad
            <br>
            Los datos personales proporcionados por los usuarios a través de este sitio web se tratarán de acuerdo con
            nuestra política de privacidad, que puede consultarse [enlace a la política de privacidad de PC Masters].
            <br><br>
            6. Ley aplicable y jurisdicción
            <br>
            Este aviso legal se rige por la legislación vigente en España y cualquier disputa relacionada con el uso de
            este sitio web se someterá a la jurisdicción de los tribunales de Toledo.
            <br><br>
            7. Modificaciones
            <br>
            PC Masters se reserva el derecho de modificar en cualquier momento estos términos y condiciones. Se
            recomienda a los usuarios revisar periódicamente esta página para estar al tanto de cualquier cambio.

        </div>
    </main>
    </div>
    <footer>
        <div id="footer">
            <div class="redes-sociales">
                <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/image/facebook.png" class="red"
                        alt="facebook" width="512" height="512"></a>
                <a href="https://www.instagram.com/"><img src="../assets/image/instagram.png" class="red"
                        alt="instagram" width="512" height="512"></a>
                <a href="https://twitter.com/"><img src="../assets/image/gorjeo.png" class="red" alt="twitter" width="512" height="512"></a>
            </div>

            <div id="avisolegal">
                <a href="../views/avisolegal.html">Aviso legal</a>

            </div>
        </div>
    </footer>
</body>

</html>