<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masters PC</title>
    <link rel="stylesheet" href="../estilos/estilos.css">
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7TrDDEgN7luyLGeY-TynTnLwCj-cnzEk&callback=initMap"
        defer></script>
</head>

<body onload="cargarmapa()">
    <div class="contenedor">
        <header>
            <!--En vez de colocar un botón inicio, utilizo el logo de la tienda para volver a la página principal-->
            <a href="../index.html"><img id="foto" alt="logo_masters_pc" src="../assets/image/Logonuevo.png" width="500" height="500"></a>
            <nav>
                <!--Aquí coloco los enlaces al resto de páginas-->
                <a href="../views/productos.html" class="nav-enlace">Galería</a>
                <a href="../views/presupuesto.html" class="nav-enlace">Presupuesto</a>
                <a href="#" class="nav-enlace" id="coloractual">Contacto</a>
            </nav>
        </header>
        <main>
        <div class="acerca">
            <div class="caja1">
                <h1>Contacto</h1>
                <div>
                    <p><strong>Nombre del Negocio:</strong> Masters Pc</p>
                    <p><strong>Dirección:</strong> Calle Italia 41, Camarena, España</p>
                    <p><strong>Teléfono:</strong> 636167680</p>
                    <p><strong>Email:</strong> masterspc@gmail.com</p>
                </div>
            </div>
        </div>
        <div id="mapa"></div>
    </main>
    </div>
    <footer>
        <div id="footer">
            <div class="redes-sociales">
                <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/image/facebook.png" class="red"
                        alt="facebook" width="512" height="512"></a>
                <a href="https://www.instagram.com/"><img src="../assets/image/instagram.png" class="red"
                        alt="instagram" width="512" height="512"></a>
                <a href="https://twitter.com/"><img src="../assets/image/gorjeo.png" class="red" alt="twitter" width="512" height="512"></a>
            </div>

            <div id="avisolegal">
                <a href="../views/avisolegal.html">Aviso legal</a>
            </div>
        </div>
    </footer>

    <!-- Referenciar el archivo JavaScript externo -->
    <script src="../scripts/contacto.js"></script>
</body>

</html>
