<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <title>Masters PC</title>
    <link rel="stylesheet" href="../estilos/estilos.css">

</head>

<body>
    <div class="contenedor">
        <header>
            <!--En vez de colocar un botón inicio, utilizo el logo de la tienda para volver a la página principal-->
            <a href="../index.html"><img id="foto" alt="logo_masters_pc" src="../assets/image/Logonuevo.png" width="500" height="500"></a>
            <nav>
                <!--Aquí coloco los enlaces al resto de páginas-->
                <a href="../views/productos.html" class="nav-enlace">Galería</a>
                <a href="../views/presupuesto.html" class="nav-enlace">Presupuesto</a>
                <a href="../views/contacto.html" class="nav-enlace">Contacto</a>

            </nav>
        </header>
        <main>
        <div class="article">
            Política de Privacidad de Masters PC <br><br>

            Última actualización: 26 de septiembre de 2023<br>

            En Masters PC, estamos comprometidos a proteger su privacidad y a mantener la confidencialidad de su
            información personal. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la
            información personal que nos proporciona a través de nuestro sitio web y otros servicios relacionados.<br>

            Recopilación de Información Personal<br>

            Recopilamos información personal cuando usted la proporciona voluntariamente al interactuar con nosotros,
            como cuando se registra en nuestro sitio web, realiza una compra, se suscribe a nuestro boletín informativo,
            completa un formulario de contacto o participa en encuestas. La información que recopilamos puede incluir,
            entre otros datos:
            <br><br>
            Nombre<br><br>
            Dirección de correo electrónico<br>
            Número de teléfono<br>
            Dirección postal<br>
            Información de pago (como números de tarjeta de crédito)<br>
            Preferencias de comunicación<br>
            Otra información que usted nos proporcione<br>
            <br>
            Uso de la Información<br><br>

            Utilizamos la información personal recopilada para los siguientes fines:<br><br>

            Procesar pedidos y transacciones<br>
            Proporcionar información sobre productos y servicios<br>
            Mejorar y personalizar su experiencia en nuestro sitio web<br>
            Comunicarnos con usted para responder a sus preguntas o comentarios<br>
            Enviarle actualizaciones, boletines y promociones<br>
            Realizar investigaciones internas y análisis de datos
            <br><br>
            Protección de Datos<br>
            <br>
            Masters PC implementa medidas de seguridad técnicas y organizativas para proteger su información personal
            contra pérdida, uso no autorizado, acceso no autorizado, divulgación o alteración. Trabajamos continuamente
            para mejorar nuestras prácticas de seguridad y mantener nuestros sistemas actualizados.
            <br><br>
            Divulgación de Información
            <br><br>
            No compartimos su información personal con terceros, excepto cuando sea necesario para cumplir con
            requisitos legales, proteger nuestros derechos legales o en el caso de prestadores de servicios que actúen
            en nuestro nombre y estén sujetos a acuerdos de confidencialidad.
            <br><br>
            Cookies y Tecnologías Similares
            <br><br>
            Nuestro sitio web utiliza cookies y tecnologías similares para mejorar su experiencia en línea. Puede
            configurar su navegador para rechazar todas o algunas cookies. Sin embargo, tenga en cuenta que esto puede
            afectar su capacidad para utilizar ciertas funciones de nuestro sitio web.
            <br><br>
            Sus Derechos
            <br><br>
            Usted tiene derechos con respecto a su información personal, que incluyen el acceso, la corrección, la
            eliminación y la limitación de su procesamiento. Si desea ejercer cualquiera de estos derechos, contáctenos
            a través de la información de contacto proporcionada a continuación.
            <br><br>
            Cambios en esta Política de Privacidad
            <br><br>
            Masters PC se reserva el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento.
            Los cambios serán efectivos a partir de la fecha de la última actualización mencionada al principio de este
            documento. Se le recomienda revisar periódicamente esta Política de Privacidad para mantenerse informado
            sobre cómo protegemos su información personal.
            <br><br>
            Contacto
            <br><br>
            Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad o sobre cómo manejamos su información
            personal, no dude en ponerse en contacto con nosotros:
            <br><br>
            Masters PC<br>
            Dirección: [Dirección de la Empresa]<br>
            Correo electrónico: [Correo Electrónico de Contacto]<br>
            Teléfono: [Número de Teléfono de Contacto]<br>
            <br>
            Gracias por confiar en Masters PC.
        </div>
    </main>
    </div>
    <footer>
        <div id="footer">
            <div class="redes-sociales">
                <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/image/facebook.png" class="red"
                        alt="facebook" width="512" height="512"></a>
                <a href="https://www.instagram.com/"><img src="../assets/image/instagram.png" class="red"
                        alt="instagram" width="512" height="512"></a>
                <a href="https://twitter.com/"><img src="../assets/image/gorjeo.png" class="red" alt="twitter" width="512" height="512"></a>
            </div>
            <div id="avisolegal">
                <a href="../views/avisolegal.html">Aviso legal</a>
            </div>
        </div>
    </footer>
</body>

</html>